body {
    font-family: Arial, sans-serif;
    /* Using Arial font as desired */
    background-color: white;
    /* Setting background to black */
    color: black;
    /* Text color set to white for contrast */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Animation for the text to appear */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* This class will be used to apply the animation to your content */
.welcome-text {
    font-size: 36px; /* Bigger font size */
    animation: fadeIn 3s ease-in-out forwards;
    opacity: 0;
    transition: color 0.5s ease-in-out;
    margin-bottom: 30px;
}

.welcome-text:hover {
    color: green; /* Change color to green when hovered */
}

.footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer a {
    color: #555;
    text-decoration: none;
    margin: 0 15px;
}

.footer a:hover {
    color: #777;
    text-decoration: underline;
}

.footer-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rainforest-button {
    margin-top: 20px;
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 4s forwards;
}

.rainforest-button:hover {
    background-color: #45a049;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}